In [1]:
import pandas as pd

In [2]:
csv_name = 'data/WFH_WFO_dataset.csv'
df = pd.read_csv(csv_name)
df.head()

,ID,Name,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,1,Bhavana,45,Tutor,Female,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
1,2,Harry,24,Tutor,Male,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
2,3,Banditaa,53,HR,Female,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
3,4,Neetha,26,Engineer,Female,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
4,5,Ram,26,Recruiter,Male,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1

In [3]:
df.isna().sum()

ID                             0
Name                           0
Age                            0
Occupation                     0
Gender                         0
Same_ofiice_home_location      0
kids                           0
RM_save_money                  0
RM_quality_time                0
RM_better_sleep                0
calmer_stressed                0
RM_professional_growth         0
RM_lazy                        0
RM_productive                  0
digital_connect_sufficient     0
RM_better_work_life_balance    0
RM_improved_skillset           0
RM_job_opportunities           0
Target                         0
dtype: int64

In [4]:
target = 'Target'
features_exclude = ['ID', 'Name']
features_yesno = [
    'Same_ofiice_home_location', 
    'kids',
    'RM_save_money',
    'RM_quality_time',
    'RM_better_sleep',
    'digital_connect_sufficient',
    'RM_job_opportunities'
]

In [5]:
for feature in features_yesno:
    df[feature] = df[feature].map({'Yes': 1, 'No': 0})

In [6]:
df_train = pd.get_dummies(df[[i for i in df.columns if i not in features_exclude]].copy())

In [7]:
feature_names = [i for i in df_train.columns if i != target]
X = df_train[feature_names]
y = df_train[target]

In [8]:
data_versions = {
    'version1': (X.iloc[:100].copy(), y.iloc[:100].copy()),
    'version2': (X.iloc[:120].copy(), y.iloc[:120].copy()),
    'version3': (X.iloc[:150].copy(), y.iloc[:150].copy()),
    'version4': (X.iloc[:180].copy(), y.iloc[:180].copy()),
    'version5': (X.copy(), y.copy()),
}

In [10]:
import pickle
with open('data/new_row.pkl', 'rb') as f:
    new_row = pickle.load(f)
with open('data/new_row_pandas.pkl', 'rb') as f:
    new_row_of_data = pickle.load(f)